# Ignore Python virtual environment
env/

# Ignore compiled Python files
__pycache__/
*.pyc
*.pyo

# Ignore test reports & logs
*.pytest_cache/
*.log
*.csv
*.pcap

# Ignore local backups & other files
*wstt_backup.*
*.txt

# Ignore legacy files
legacy/

# Ignore VS Code settings (optional)
.vscode/
